
@import "var.scss";

body {
    background: url("../../assets/img/bg.gif") repeat center !important;
}



.mb1em {
    margin-bottom: 1em !important;
}

.mb2em {
    margin-bottom: 2em !important;
}

.mb4em {
    margin-bottom: 4em !important;
}



.bttn-blue {
    background: $green !important;
}

.brown {
    color: $brown !important;
}

.green {
    color: $green !important;
}



.sm-clean a {
    color: $green;
    font-weight: 700 !important;
    &:hover {
        color: initial;
    }
    &.active {
        color: #333;
    }
}

#main-nav {
    .brand-name {
        margin-top: 0;
    }
}



.search-icon {
    &:before {
        background-color: $green;
    }
}



.content-block-8 {
    background: url("../../assets/img/bg.gif") repeat center;
    .bubble {
        background: $green;
        color: #FFFFFF;
        &:after {
            border-color: $green transparent;
        }
    }
    h3 {
        color: $brown;
    }
    .author {
        color: #777777;
        .name {
            color: #111111;
        }
    }
    .subh-basic-light {
        color: $green;
    }
    .feature p {
        color: #777777
    }
}

.content-block-10 {
    background: initial;
    .icon {
        font-size: 30px;
    }
    .subh-basic-light {
        margin-top: 10px;
        color: $green;
    }
    .feature {
        margin-bottom: 40px;
    }
}



.hero-header-2 {
    background: #fff url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?auto=format&fit=crop&w=375&q=80");
    min-height: 200px;
    h2 {
        color: #EEEEEE;
        font-size: 32px !important;
    }
}

.hero-header-3 {
    #watch {
        margin-bottom: -20%;
    }
    h2 {
        color: $green;
        line-height: 1;
    }
    .bttn {
        border: initial;
        color: initial;
    }
}




.clients-1 {
    background: url("../../assets/img/bg.gif") repeat center;
}

.portfolio-2 {
    background: url("../../assets/img/bg.gif") repeat center;
    .grid {
        margin-top: 0;
        padding: 0;
    }
}




.testimonial-1 {
    background: #222 url("https://images.unsplash.com/photo-1494208133010-7227229a632a?auto=format&fit=crop&w=334&q=80");
    .position {
        color: #ccc;
    }
}




.grid {
    figure {
        border: 1px solid #ddd;
    }
}

.grid-item {
    .grid-img {
        &:after {
            background: transparentize($green, .7);
        }
    }
}

.grid-type-1 {
    figcaption {
        // background-color: $green;
        &:hover {
            .project {
                color: $green;
            }
        }
    }
    .company {
        color: #444;
    }
    &.gutter {
        figcaption {
            padding-bottom: 10px;
        }
    }
}





.contact-4 {
    background: initial;
    .main-heading {
        h3 {
            color: $brown;
        }
    }
    .wrapper {
        height: 550px;
        max-height: 550px;
    }
    form {
        input, textarea {
            &:focus {
                border-color: $green;
            }
        }
    }
}




.zoom-gallery {
    > div {
        margin-bottom: 1.4em;
        &:hover {
            transform: translateY(-5px);
        }
    }
}




.gallery-heading {
    display: flex;
    align-items: center;
    img {
        margin-right: 1em;
    }
}




.footer-3 {
    ul {
        li {
            a {
                color: #999;
                &:hover {
                    color: $green;
                }
            }
        }
    }
    .ti-arrow-circle-up {
        &:hover {
            color: $green;
        }
    }
}



@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .testimonial-1 {
        background: #222222 url(../../img/bg/bg02.jpg)
    }
}
